<div class="row">
    <div class="col-8">
        <h1>Empresa desarrolladora de software</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, qui!</p>
    </div>
    <div class="col-4">
        <img src="assest/img/node-logo.jpg" width="200" height="200"  alt="Node logo">
    </div>
</div>